<article class="overzichtslijst">

<a class="fulllink" href="/detail/<%=postIndex %>">

  <span class="ol"><%=post.attributes.TYPE %></span><br>
  <span class="ol"><%=post.attributes.STRAAT%></span><br>
  <span class="ol"><%=post.attributes.HUISNUMMER%></span><br>

  </a>

</article>
