<%include header%>

<article class="detail">


  <span class="ol"><%=post.attributes.TYPE %></span><br>
  <span class="ol"><%=post.attributes.STRAAT%></span><br>
  <span class="ol"><%=post.attributes.HUISNUMMER%></span><br>

  <button>Go</button>

</article>

<%include footer%>
