<p>Hier komt de footer</p>
<!--Leaflet JavaScript file-->
<script src="/./leaflet/leaflet.js"></script>
  <!---->
<script src="/./leaflet/leaflet-providers.js"></script>
<script src="/./js/script.js"></script>
</body>
</html>
