<<<<<<< HEAD
<!--Isotope JS file-->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
=======


<script src="/./js/script.js"></script>


>>>>>>> a033e3bc56a347d6b9a72f42964af3ec469cb1cf
<!--Leaflet JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
  <!---->
<!--<script src="/leaflet/leaflet-providers.js"></script>-->
<<<<<<< HEAD
<script src="/./js/script.js"></script>

=======
<script src="/js/script.js"></script>
>>>>>>> a033e3bc56a347d6b9a72f42964af3ec469cb1cf
</body>
</html>
