
<!--Isotope JS file-->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<!--Leaflet JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
  <!---->
<!--<script src="/./leaflet/leaflet-providers.js"></script>-->
<script src="/./js/script.js"></script>
</body>
</html>
