<p>Hier komt de footer</p>
<!--Leaflet JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
console.log("footer ingeladen")
  <!---->
<!--<script src="/./leaflet/leaflet-providers.js"></script>-->
<script src="/./js/script.js"></script>
</body>
</html>
