<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="KAKAPP"/> <!--leaflet css-->
    <link rel="stylesheet" type="text/css" href="/./css/style.css"> <!--toevoegen /./-->
      <!--leaflet css-->
    <title>KAKapp</title>
  </head>
  <body>
    <header>
      <p>Hier komt de header</p>
    </header>
    <%include nav%>
