<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/./leaflet/leaflet.css"> <!--leaflet css-->
    <link rel="stylesheet" type="text/css" href="/./css/style.css"> <!--toevoegen /./-->
    <link rel="stylesheet" type="text/css" href="/./routing/leaflet-routing-machine.css"> <!--routing css-->
    <link href="https://fonts.googleapis.com/css?family=Turret+Road&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      <!--leaflet css-->
    <title>KAKapp</title>
  </head>
  <body>
    <header>
      <h1><a href="/">KAKapp</a></h1>
    </header>
