<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/./leaflet/leaflet.css"> <!--leaflet css-->
    <link rel="stylesheet" type="text/css" href="/./css/style.css"> <!--toevoegen /./-->
    <link href="https://fonts.googleapis.com/css?family=Turret+Road&display=swap" rel="stylesheet">
      <!--leaflet css-->
    <title>KAKapp</title>
  </head>
  <body>
    <header>
      <h1>KAKAPP</h1>
    </header>

