<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="KAKapp"/>

      <link rel="stylesheet" type="text/css" href="/./css/style.css"> <!--toevoegen slash-->
      <!--leaflet css-->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <!--leaflet javascript-->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
    <title>KAKapp</title>
  </head>
  <body>
    <header>
    </header>

    <!--TEST-->
    <% for (var i=0; i < toiletten,length; i++) {
      <p>naam: <%=toiletten[i].attributes.ROEPNAAM_ZZ_OBJECT%></p>
    <% } %>

    <%include nav%>
