<% include header %>

<!--div voor leaflet-map-->
<div id="mapid"></div>

<!--Leaflet JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>

<script src="/./js/script.js"></script>
<script>

<% for ( var i=0; i < data.length; i++ ) {%>
   L.marker( [<%=data[i].geometry.y%>, <%=data[i].geometry.x%>] )
    .bindPopup( "<%=data[i].attributes.TYPE%>" + "<br>" + "<%=data[i].attributes.OMSCHRIJVING%>" )
  //  .bindPopup( '<a href="' + data.features[i].attributes.straatnaam + '" target="_blank">' + data.features[i].attributes.huisnummer + '</a>' )
      .addTo(mymap);
<% }%>



</script>

<%include footer%>
