<%include header%>

  <h2 class="overviewtitle">Overview all toilets</h2>
  <%
  var blogLength = data.length;
  for(var postIndex=0; postIndex<blogLength; postIndex++) {
  %>
  <section>
    <% var post = data[postIndex] %>
    <% include blogpost %>
  </section>
  <%
  }
  %>
<% include footer %>
