#mapid {
  position: absolute;
  z-index: -1;
    height: 80vh;
    width: 100vw;
}

body {
    margin: 0;
    font-family: Roboto;
}

header {
    height: 10vh;
    background-color: #045453;
}

header h1 {
    margin: 0;
    font-family: Turret Road;
    color: #FFFBD7;
    text-align: center;
    padding: .5em;
}

footer {
    height: 10vh;
    position: absolute;
  bottom: 0;
}

h2 {
    margin: 0;
    color: white;
}

.leaflet-popup-content {
    font-weight: 700;
    font-size: 2em;
    color: #045453;
}



.overzichtslijst {
    border: 1px solid black;
    padding: 1em;
    font-size: 1em;
}

.fullink {
    text-decoration: none;
    color: black;
  }

.ol {
    color: black;
}

.overviewtitle {
  background-color: pink;
    color: black;
    position: absolute;
    right:0;
z-index: 2;



}


.collapse {
  width: 100vw;
  height: 40vh;
  overflow: hidden; 
  overflow-y:scroll;

}

.show {
height: 40vh;
position: absolute;
    right:0;
z-index: 1;
background-color: white;
border-bottom: 10px solid #045453 ;
}

.overzicht section {
  display: none;


}

.overzicht section:target {
  display: block;


}









