#mapid {
    height: 80vh;
    width: 100vw
}

body {
	margin: 0;
	font-family: Roboto;
}

header {
    height: 8vh;
    background-color: #045453;
}

header h1 {
    margin: 0;
    font-family: Turret Road;
    color: #FFFBD7;
    text-align: center;
    padding: .5em;
}
footer {
    height: 12vh;
}


h2 {
	margin: 0;
	color: white;
}

.leaflet-popup-content {
	font-weight: 700;
	font-size: 2em;
	color: #045453;
}

.ui-menu {
    width: 150px;
}

